body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader{
    height: 200px;
    width: 200px;
    border: 12px solid lightgreen;
    border-right-color: black;
    border-left-color: blue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: spin 1s ease infinite;
    -webkit-animation: spin 1s ease infinite;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}