*{
    margin: 0%;
    padding: 0%;
    background: lightgoldenrodyellow;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.slider{
    background: url(Thor.jpg);
    background-size: cover;
    height: 450px;
    width: 450px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.3);
    animation: animate 15s infinite;
    -webkit-animation: animate 15s infinite;
}

@keyframes animate {
    20%{
        background: url(Hulk.jpg);
        background-size: cover;
    }
    40%{
        background: url(Iron.jpg);
        background-size: cover;
    }
    60%{
        background: url(Captain.jpg);
        background-size: cover;
    }
    80%{
        background: url(All.jpg);
        background-size: cover;
    }
    100%{
        background: url(Team.jpg);
        background-size: cover;
    }
}